.c1 {
  width: 25%;
}

.c2 {
  width: 5%;
}

.c3 {
  width: 7%;
}

.c4 {
  width: 7%;
}

.c5 {
  width: 13%;
}

.c6 {
  width: 13%;
}

.c7 {
  width: 13%;
}

.c8 {
  width: 7%;
}

.c9 {
  width: 10%;
}

@media only screen and (max-width: 1700px) {
  .c6 {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .c1 {
    width: 15%;
  }

  .c2 {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .c8 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .c7 {
    display: none;
  }
}
