.c1 {
  width: 28%;
}

.c2 {
  width: 10%;
}

.c3 {
  width: 15%;
}

.c4 {
  width: 15%;
}

.c5 {
  width: 15%;
}

.c6 {
  width: 10%;
}

.c7 {
  width: 3%;
}

.c8 {
  width: 6%;
}

@media only screen and (max-width: 1700px) {
  .c6 {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .c4 {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .c2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .c3 {
    display: none;
  }
}
